{% extends '::base.html.twig' %}

{% block content %}

	{% include 'DHBundle:Admin:logout.html.twig' %}

	<div class="titulo">{% trans from "menu" into _locale %} STR_NEWS {% endtrans %}</div>


	<form name="frm_new" action="" method="POST">

		<ul type="none">
			{% for noticia in noticias %}
				
				<li>
					<input type="radio" name="new_id" value="{{ noticia.id }}" />
					<a href="{{ url('dh_fullnew',{'id' : noticia.id, 'titulo' : noticia.titulo|replace({' ':'-'}) } ) }}"> 
						{{ noticia.fecha|date('d/m/Y') }} {{ noticia.titulo }}
					</a>
				</li>		
			{% endfor %}
		</ul>

		<div class="botones">
			<input class="boton" type="button" value="{% trans from "content" into _locale %} admin.btn_back {% endtrans %}" onclick="window.location.href='{{ url('dh_admin') }}'">
			<input class="boton" type="button" value="{% trans from "content" into _locale %} admin.btn_new {% endtrans %}" onclick="window.location.href='{{ url('dh_admin_news_new') }}'">
			<input class="boton" type="button" value="{% trans from "content" into _locale %} admin.btn_edit {% endtrans %}" onclick="validateForm('1')">
			<input class="boton" type="button" value="{% trans from "content" into _locale %} admin.btn_delete {% endtrans %}" onclick="validateForm('2')">
		</div>

	</form>

{% endblock %}


{% block javascript %} 

	<script type="text/javascript">

		function validateForm(type){

			if(document.frm_new.new_id.value == ''){
				alert('{% trans from "content" into _locale %} admin.alert_SelectaAnyNew {% endtrans %}');
			}else{
				// update 
				if(type == 1){
					document.frm_new.action ="{{ url('dh_admin_news_update') }}";
					document.frm_new.submit();					
				}
				// delete
				else if (type == 2){
					if(confirm('{% trans from "content" into _locale %} admin.alert_confirmDeleteNew {% endtrans %}')){						
						document.frm_new.action ="{{ url('dh_admin_news_delete') }}";
						document.frm_new.submit();					
					}
				}
			}
		}

	</script>

{% endblock %}
